/* - - - - - - - - - - - - - - - - - - - - -

 Title : hubbell form
 Author : matyoung
 URL : https://hubbellscreenings.com/gate/

 Last Updated : 2.21.19

- - - - - - - - - - - - - - - - - - - - - */


/*
.wufoo #header h2.centerFormProp {
	display: none !important;
	visibility: hidden !important;
}

.wufoo input.text {
	padding: 5px !important;
}

input#saveForm {
	padding: 10px !important;
	font-weight: bold;
}
*/
